.Results {
  overflow-x: auto;
  max-width: 800px;
  margin: 0 auto;
}

.Results table {
  width: 100%;
}

.Results tr {
}

.Results td {
  font-family: monospace;
  border: 1px solid rgba(85, 107, 47, 0.5);
  padding: 12px 3px;
  text-align: center;
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  white-space: nowrap;
  background-color: rgba(85, 107, 47, 0.25);
}

.Results td span {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 10px;
  letter-spacing: 0;
  font-weight: bold;
  color: rgba(85, 107, 47, 0.8);
}

.Results .special {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  padding: 12px;
}

@media screen and (min-width: 600px) {
  .Results td,
  .Results .special {
    font-size: 16px;
    letter-spacing: 4px;
    padding: 16px 4px;
  }

  .Results td span {
    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  .Results td,
  .Results .special {
    font-size: 24px;
    letter-spacing: 6px;
  }

  .Results td span {
    font-size: 12px;
  }
}
